schema/sedola.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="service">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="include"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="mediatype"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
